* {
    padding: 0;
    margin: 0;
}

#menu {
    
    
    background-color: dimgray;
}

#functions {
    position: absolute;
    bottom: 0px;
    
    width: 100%;
    max-height: 300px;
}

#upgrades {
    position: absolute;
    bottom: 60px;
    
    width: 100%;
    max-height: 300px;
}

#towerinfo {
    position: absolute;
    top: 0px;
    width: 100%;
}

#towermenu {
    position: relative;
    float: left;

    background-color: dimgray;
    border-right: 2px solid black;   
    border-bottom: 2px solid black;
}

#playermenu {
    
    position: relative;
    float: left;
    
    background-color: dimgray;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#pixiCanvas {
    float: left;
    position: relative;
    border-bottom: 2px solid black;
}

#game {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.value {
    float: right;
}

.title {
    display: block;
    font-weight: bold;
    text-align: center;
}

.button {
    display: block;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: MediumSeaGreen;
    border: 1px solid black;
}

#close {
    background-color: Tomato
}

.upbutton {
    display: block;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: Teal;
    border: 1px solid black;
}

.info {
    padding-left: 20px;
    padding-right: 20px;
}